body{
    overflow-x: hidden;
}

.background{
    position:relative;
    /* left:10%; */
    left:40%;
    z-index: 1;
}

.home1{
    position: absolute;
    top:0px;
    z-index: 100;
    width:100%;
}

.collapse{
    margin-left: 55%;
}

.nav-item{
    margin-left:15px;
    margin-right: 15px;
}

.welcome{
    width:100%;
}

.amico{
    margin-left:20%;
    width:0%;
}